---
layout: default
---


  <div class="header" style="background: url({{site.data.welcome[0].main_image[0].url}}) no-repeat center center; background-size: cover;">
         <ul class="socialbar">
           {% if site.data.contact[0].Facebook %}<li><a href="{{site.data.contact[0].Facebook}}" target="blank"><i class="fa fa-facebook"></i></a></li>{% endif %}
           {% if site.data.contact[0].Twitter %}<li><a href="{{site.data.contact[0].Twitter}}" target="blank"><i class="fa fa-twitter"></i></a></li>{% endif %}
           {% if site.data.contact[0].Youtube %}<li><a href="{{site.data.contact[0].Youtube}}" target="blank"><i class="fa fa-youtube"></i></a></li>{% endif %}
           {% if site.data.contact[0].Church_email %}<li><a href="mailto:{{site.data.contact[0].Church_email}}" target="blank"><i class="fa fa-envelope"></i></a></li>{% endif %}
           {% if site.data.contact[0].Phone_number %}<li><a href="tel:{{site.data.contact[0].Phone_number}}" target="blank"><i class="fa fa-phone"></i></a></li>{% endif %}
        </ul><!--/socialbar-->
      <img src="{{site.data.welcome[0].logo[0].url}}" alt="" class="logo">
      <h1>{{site.data.welcome[0].main_heading}}</h1>
      {{site.data.welcome[0].welcome_message | markdownify}}
      <h3><i class="fa fa-arrow-down"></i></h3>
    </div><!--/header-->
    <div class="main">
      <div class="services-info">
          {{site.data.main[0].Main_message | markdownify }}
      </div><!--/services-info-->
      <div class="pastor-info">
        <img src="{{site.data.pastor[0].Pastor_thumbnail[0].url}}" alt="">
        <h3>{{site.data.pastor[0].Pastor_heading}}</h3>
        <p>{{site.data.pastor[0].Pastor_content}}</p>
        <p class="email"><i class="fa fa-envelope"></i> <a href="mailto:{{site.data.pastor[0].Pastor_email}}">{{site.data.pastor[0].Pastor_email}}</a></p>
      </div><!--/pastor-info-->
    </div><!--/main-->
     <div class="map">
       {{site.data.contact[0].Google_Maps_Embed}}
    </div><!--/map-->
    <div class="contact">
      <div class="contact-content">
          <h2>Contact Us</h2>
          {{site.data.contact[0].Contact_Message | markdownify }}
          <p class="email"><i class="fa fa-envelope"></i> <a href="mailto:{{site.data.contact[0].Church_email}}">{{site.data.contact[0].Church_email}}</a></p>
            <ul class="address">
              <li><i class="fa fa-phone"></i> <span>{{site.data.contact[0].Phone_number }} </span></li>
              <li><i class="fa fa-map-marker"></i> <span>{{site.data.contact[0].Address_1}} {{site.data.contact[0].Address_2}}</span></li>
              <li><span>{{site.data.contact[0].City }}, {{site.data.contact[0].State }} {{site.data.contact[0].Zip }} </span></li>
              <li> 
                  {% if site.data.contact[0].Facebook %}<a href="{{site.data.contact[0].Facebook}}"><i class="fa fa-facebook"></i></a> {% endif %}
                    {% if site.data.contact[0].Twitter %}<a href="{{ site.data.contact[0].Twitter }}"><i class="fa fa-twitter"></i></a> {% endif %}
                    {% if site.data.contact[0].Youtube %}<a href="{{ site.data.contact[0].Youtube }}"><i class="fa fa-youtube"></i></a> {% endif %}
                  <a href="http://airtable.com"><i class="fa fa-gear"></i></a></li>
          </ul><!--/address-->
          <ul class="social">
            
          </ul><!--/social-->
      </div><!--/contact-content-->
    </div><!--/contact-->
    <div class="photos">
      <div class="photos-inner" id="sqr-gallery">
      {% for img in site.data.images[0].Images  limit: 8 %}
      
      <img data-src="{{img.url}}" data-thumb="{{img.thumbnails.large.url }}" src="{{img.url}}"> 
      {% endfor %}
      </div><!--/photos-inner-->
    </div><!--/photos-->