---
layout: default
---

<div class="about-page" id="about-page">
    <div class="header">
    <h2 class="about-header"> About Us: <span>Our Leaders</span></h2>
    </div><!-- /header -->
    <div class="content">
    <div class="main-content leaders">
        {% for leader in site.data.leadership %}
       {% if  leader.Is_Senior_Pastor %}
       <div class="leader senior">
           <h3>{{leader.Leader_Name}}</h3>
           <h5 class="role">{{leader.Position}}</h5>
           {% if leader.Photo %}
           {% for img in leader.Photo %}
            <img class="thumbnail" src="{{img.url}}" alt="">
           {% endfor %}
           {% endif %}
           {% if  leader.Content %}
           {{ leader.Content | markdownify }}
           {% endif %}
           <div style="clear: right"></div>
       </div><!--/senior-pastor-div-->
       {% else %}
       <div class="leader">
           <h3>{{leader.Leader_Name}}</h3>
           <h5 class="role">{{leader.Position}}</h5>
           {% if leader.Photo %}
           {% for img in leader.Photo %}
            <img class="thumbnail" src="{{img.url}}" alt="">
           {% endfor %}
           {% endif %}
           {% if  leader.Content %}
           {{ leader.Content | markdownify }}
           {% endif %}
           <div style="clear: right"></div>
       </div><!--/regular leader-div-->
       {% endif %}
       {% endfor %}
    </div><!--/main-content-->
    {% include about-sidebar.html %}
    </div><!-- content -->
</div><!--/wrapper-->