---
layout: default
---

<div class="about-page" id="about-page">
    <div class="header">
    <h2 class="about-header"> About Us: <span>Our Beliefs</span></h2>
    </div><!-- /header -->
    <div class="content">
    <div class="main-content beliefs">
       {% for item in site.data.beliefs %}
       <div class="belief">
        <h3><i class="fa {{item.icon}}"></i> {{item.title}}</h3>
        {% if item.Content %}
            {{item.Content | markdownify}}
        {% endif %}
        </div><!--/belief-->
       {% endfor %}
    </div><!--/main-content-->
    {% include about-sidebar.html %}
    </div><!-- content -->
</div><!--/wrapper-->

