---
layout: default
---

<div class="about-page" id="about-page">
    <div class="header">
    <h2 class="about-header"> {{site.data.gospel[0].Heading}} </h2>
    {% if  site.data.gospel[0].Featured_Image %}
            {% for img in site.data.gospel[0].Featured_Image %}
            <img src="{{img.url}}" alt="" class="featured_image">
            {% endfor %}
        {% else %}
        <img src="{{site.default_about_image}}" alt="" class="featured_image">
        {% endif %}
    </div><!-- /header -->
    <div class="content">
    <div class="main-content gospel">
         {{site.data.gospel[0].Content | markdownify }}
    </div><!--/main-content-->
    {% include about-sidebar.html %}
    </div><!-- content -->
</div><!--/wrapper-->