
<footer>
    <div class="footer-wrapper">
        <div class="footer-info">
        <h3>{{site.data.info[0].Church_Name}}</h3>
        <p>{{site.data.info[0].Church_Tagline }}</p>
        <div class="address">
            <p><i class="fa fa-map-marker"></i>  {{site.data.location[0].Street_Address}} {{site.data.location[0].Street_Address2}} {{site.data.location[0].City }}, {{site.data.location[0].State }} {{site.data.location[0].Zip }} <br>
                <i class="fa fa-phone"></i>  {{site.data.contact[0].Phone }} <br>
                <i class="fa fa-envelope"></i>  {{site.data.contact[0].Church_email }} <br>
                <a href="http://airtable.com" title="sign in" class="footer-sign-in" target="blank"><i class="fa fa-cog"></i> Manager Sign In</a>
            </p>
        </div><!--/address-->
    </div><!--/footer-info-->
    </div><!--/footer-wrapper-->
</footer>
</div><!--/ off canvas content wrapper-->
</div><!--/off canvas wrapper 2-->
</div><!--/ off canvas wrapper 1-->
<script src="{{ "/assets/js/app.js" | prepend: site.baseurl }}"></script>
</body>
</html>
