
<footer>
    <div class="footer-wrapper">
        <div class="footer-info">
        <h3>Hartwell Baptist Church</h3>
        <p>The Friendly Church</p>
        <div class="address">
            <p><i class="fi-map"></i>  {{site.address}} <br>
                <i class="fi-telephone"></i>  {{site.phone}} <br>
                <i class="fi-mail"></i>   {{site.email}} <br>
                <a href="#" title="sign in" class="footer-sign-in"><i class="fi-widget"></i> Manager Sign In</a>
            </p>
        </div><!--/address-->
    </div><!--/footer-info-->
    </div><!--/footer-wrapper-->
</footer>
</div><!--/ off canvas content wrapper-->
</div><!--/off canvas wrapper 2-->
</div><!--/ off canvas wrapper 1-->
<script src="{{ "/assets/js/app.js" | prepend: site.baseurl }}"></script>
</body>
</html>
