---
layout: default
---

<div class="about-page" id="about-page">
    <div class="header">
    <h2 class="about-header"> About Us: <span>{{page.title}}</span></h2>
    {% if page.featured_image[0].url %}
    <img src="{{page.featured_image[0].url}}" alt="" class="featured_image">
    {% endif %}
    </div><!-- /header -->
    <div class="content">
    <div class="main-content">
       {% if page.body_content %}
        {{page.body_content | markdownify }}
        {% endif %}
    </div><!--/main-content-->
    {% include about-sidebar.html %}
    </div><!-- content -->
</div><!--/wrapper-->