---
layout: default
---
<div class="ministriesContent">
    <div class="ministriesContent__menu" data-sticky-container>
    <h5>Our Ministries</h5>
        <ul class="menu vertical">
            {% for item in site.data.ministries %}
                    <li><a href="{{ item.name | datapage_url: 'ministries' | prepend: site.baseurl | prepend: site.url }}">{{item.name}}</a></li>
            {% endfor %}
        </ul>
    </div><!--/ministries-menu-->
    <div class="ministriesContent__content" id="content">
    

        <div class="ministriesContent__content__pageHeader">
        <h1>Challenger Sunday School Class</h1>
        </div><!--/page-header-->
    <article class="ministriesContent__content__content">
    <div class="ministriesContent__content__basic-info">
        <div class="details">
            <h5>Description:</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus repellat!</p>
            <h5>Audience:</h5>
            <p>Adults age 35-55</p>     
        </div>
        <div class="leadership">
            <h5>Leader:</h5>
            <img src="http://placehold.it/100x100?text=thumbnail" alt="">
            <p>John Doe is a deacon at Community Baptist.  He has been teaching this class for 15 years.</p>
            <h5>Contact:</h5>
            <p><i class="fi-telephone"></i> (603) 305-0489</p>
            <p><i class="fi-laptop"></i> johndoe@communitybaptist.net</p>
        </div>
    </div><!--/basic-info-->
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto ea laborum, repellendus totam culpa necessitatibus vitae illum quos exercitationem nam, beatae, illo dolor ab, quis quae. Nobis voluptatem eius, quo!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores nisi numquam praesentium dignissimos dolor ad eius ab, quo et esse magni suscipit ea repudiandae fuga distinctio tempora, doloremque rem quaerat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum soluta esse, sed nisi ex iure odio possimus architecto reprehenderit culpa. Officiis ea atque dicta a vero inventore ab officia doloremque.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, veniam, nisi doloremque dolor blanditiis sapiente quos, architecto modi, necessitatibus reiciendis officiis excepturi optio possimus maiores! Omnis eligendi dignissimos repellat eum.</p>
    <div class="ministriesContent__content__photos">
        <h2>Photos from the Challenger Class:</h2>
        <a href="#" class="thumbnail"><img src="http://placehold.it/600x400?text=main+image" alt=""></a>
        <div class="ministriesContent__content__photos__thumbnails">
            <a href="#" class="thumbnail"><img src="http://placehold.it/100x100?text=thumbnail" alt="thumbnail"></a>
            <a href="#" class="thumbnail"><img src="http://placehold.it/100x100?text=thumbnail" alt="thumbnail"></a>
            <a href="#" class="thumbnail"><img src="http://placehold.it/100x100?text=thumbnail" alt="thumbnail"></a>
            <a href="#" class="thumbnail"><img src="http://placehold.it/100x100?text=thumbnail" alt="thumbnail"></a>            
        </div>

    </div><!--/basic-info-->
    </article>
    </div><!--/main-content-->
      <aside class="ministriesContent__content__sidebar">
          <div class="logo">
        <img src="http://placehold.it/300x200?text=Ministry+Logo" alt="Ministry Logo">
        </div><!--logo-->
        <div class="events">
        <h4>Upcoming Events:</h4>
        <div class="event-lister">
            <div class="calendar-thumb">
                <h5 class="date">17</h5>
                <p class="month">Nov</p>
            </div><!--/calendar-thumb-->
            <div class="event-lister-content">
                <h5><a href="#">Awesome Activity</a></h5>
                <p>All Day</p>
                <a href="{{root}}event.html" class="button hollow">More Details</a>
            </div><!--/event-lister-content-->
        </div><!--/event-lister-->
        <div class="event-lister">
            <div class="calendar-thumb">
                <h5 class="date">17</h5>
                <p class="month">Nov</p>
            </div><!--/calendar-thumb-->
            <div class="event-lister-content">
                <h5><a href="#">Awesome Activity</a></h5>
                <p>All Day</p>
                <a href="{{root}}event.html" class="button hollow">More Details</a>
            </div><!--/event-lister-content-->
        </div><!--/event-lister-->
        <div class="event-lister">
            <div class="calendar-thumb">
                <h5 class="date">17</h5>
                <p class="month">Nov</p>
            </div><!--/calendar-thumb-->
            <div class="event-lister-content">
                <h5><a href="#">Awesome Activity</a></h5>
                <p>All Day</p>
                <a href="{{root}}event.html" class="button hollow">More Details</a>
            </div><!--/event-lister-content-->
        </div><!--/event-lister-->
        </div><!--/events-->
        <div class="site-wide-plugs">

        </div><!--/site-wide-plugs-->
    </aside>
</div><!--/ministries-content-->
